*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white:#faf0e6;
    --colorblue:rgb(5, 5, 209);
    --navbtncolor:rgb(253, 174, 92);
    --btncolor:#04D2C8;
    --font-family: "Crimson Text", serif;
    --font-family2:"Poppins", sans-serif;
    --font-weight: normal;
    --font-style: normal;
    --circlecolor1:#FEB08F;
    --circlecolor2:#8EC9FF;
    --txtcolor: #1F1F1F;
    --starcolor: yellow;
    --hoverbtmcolor:red;
}

body{
    font-family: var(--font-family2);
    color: var(--txtcolor);
    font-weight: normal;
    font-style: normal;
}
.boxed_btn{
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    padding: 17px 50px;
    background: #04D2C8;
    border-radius: 30px;
    border: 1px solid transparent;
}
.boxed_btn:hover{
    border:1px solid var(--btncolor);
    background-color: transparent;
    color: var(--btncolor);
    display: inline-block;
    transition: 0.3s;
}


.headermaindiv1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../project1-pictures/banner.png.webp);
  

}
/* ======================================================================================================== */
/* NAVIGATION BAR MAIN */

.navmaindiv{
    padding-top: 10px;
    width: 100%;
    height: 10vh;
    display: flex;
    border-bottom: 0.5px solid #212529;
    background-color: #9E4CEB;
}

/* NAVIGATION BAR LEFT */


.navmaindivchild1{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    color: var(--white);
    padding-top: 10px;
}
#icon{
    color: var(--btncolor);
}

/* NAVIGATION BAR MIDDLE */


.navmaindivchild2{
    width: 40%;
    height: auto;
}
.navmaindivchild2 ul{
    display: flex;
    padding-top:2%;
    align-items: center ;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
    color: var(--white);
} 
.navmaindivchild2 ul li a{
    text-decoration: none;
    color: white;
}
.navmaindivchild2 ul li:hover{  
      border-bottom: 3px solid red;
}
.navmaindivchild2 ul li.active{  
    border-bottom: 3px solid red;
}




.dropdown .dropbtn {
    font-size: 16px;  
    text-decoration: none;
    border: none;
    outline: none;
    color:var(--white);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 115px;
    margin-top: 1%;
} 
.dropdown-content a {
    float: none;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* NAVIGATION BAR RIGHT */

.navmaindivchild3{
  width: 40%;
  height: auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: var(--white);
}
.navmaindivchild3 a{
    text-decoration: none;
    color: white;


}
.navmaindivchild3 button{
    background:var(--btncolor);
    border-radius: 50px;
    width: 32%;
    height:60%;
    border-color: transparent;
    border-image: initial;
    color: var(--white);
}
.navmaindivchild3 button:hover{
    background-color: transparent;
    color: var(--btncolor);
    border:1px solid var(--btncolor);
}



@media screen and (max-width:978px) {
    .navmaindivchild3 button{
        width: 50%;
        height: 95%;
    }
    .navmaindivchild3{
        width: 30%;
    }    
    .navmaindivchild3 {
        margin-bottom: 5px ;
    }
}
@media screen and (max-width:914px){
    .navmaindivchild2{
        width: 50%;
    }
    .navmaindivchild3{
        width: 30%;
    }
}
@media screen and (max-width:986px){
    .navmaindivchild3{
        display: none;
    }
    .navmaindivchild2{
        width: 70%;
    }
    .navmaindivchild1{
        width: 30%;
    }
}
@media screen and (max-width:572px){
    .navmaindivchild1{
        display: none;
    }
    .navmaindivchild2{
        width: 100%;
    }
}


/* ======================================================================================================== */

/* below the nav bar */

.headermaindiv2{
    width: 100%;
    height: auto;
    display: flex;
}
.headermaindiv2child1{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.headermaindiv2child1 img{
    height: 75vh;
}
.headermaindiv2child2{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding-top: 85px;
    margin-left: -110px;
    color: var(--white);
    text-transform: capitalize;
    font-weight: 400;
    line-height: 70px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    margin-top: 10px;
}
.headerbtn{
    margin-top: 60px;
    cursor: pointer;
    font-size: 13px;
    color:var(--white);
    padding: 17px 50px;
    background: var(--btncolor);
    border-radius: 30px;
    border: 1px solid transparent;
    width: 45%;
    outline: medium none;
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
}
.headerbtn:hover{
    border:1px solid var(--btncolor);
    background-color: transparent;
    color: var(--btncolor);
    display: inline-block;
    transition: 0.3s;
}


@media screen and (max-width:1234px){
    .headermaindiv2child1{
        width: 50%;
    }
    .headermaindiv2child1 img{
        width: 60%;
    }
    .headermaindiv2child2{
        width: 50%;
    }
}
@media screen and (max-width:1076px){
    .headerbtn{
        width: 60%;
    } 
}
@media screen and (max-width:1024px){
    .headermaindiv2child2{
        width: auto;
    }
    .headermaindiv2child1{
        width: auto;
    }
}
@media screen and (max-width:828px){
    .headermaindiv2child2{
        font-size: 30px;
    }
}
@media screen and (max-width:713px){
    .headermaindiv2child1{
        justify-content: left;
    }
    .headermaindiv2child2{
        justify-content: left;
    }
}
@media screen and (max-width:710px){
    .headermaindiv2{
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .headermaindiv2child1{
        width: 100%;
        justify-content: center;
    }
    .headermaindiv2child2{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        padding-left: 85px;
        font-size: 18px;
    }
}
@media screen and (max-width:521px){    
    .headermaindiv2child1{
        display: none;
    }
}


/* ======================================================================================================== */

/* below the nav bar tutorials section start  */

.tutmaindiv1{
    width: 100%;
    height: auto;
    padding-top: 8%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
.tutmaindiv1child1{
    width: 50%;
    font-family: var(--font-family2);
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
    padding: 15px;
    padding-left: 150px;
}
.tutmaindiv1child2{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle1{
    width: 40%;
    border-radius: 50%;
    background:var(--circlecolor1);
    line-height: 0;
    position: relative;
    margin-right: -8%;
    z-index: -1;
}  
.circle1::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle2{
    width: 30%;
    border-radius: 50%;
    background: var(--circlecolor2);
    line-height: 0;
    position: relative;

} 
.circle2::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.circle-txt {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;   
    font-family: var(--font-family2);
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}
@media screen and (max-width:1032px) {
    .tutmaindiv1{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .tutmaindiv1child1{
        width: 100%;
        padding-left: 50px;
    }
    .tutmaindiv1child2{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .circle1{
        width: 40%;
        margin-right: 0;
        z-index: 0;
    }
    .circle2{
        width: 40%;
    }
}

/* below the nav bar tutorials section end  */
/* ======================================================================================================== */

/* below the nav bar popular course section start  */

.popmaindiv1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}
.popmaindiv1child1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5%;
}
.popmaindiv1child1 h3{
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 23px;
    color: #1F1F1F;
}
.popmaindiv1child1 p{
    font-size: 17px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    line-height: 28px;
    color: #727272;
    margin-bottom: 0;
}
.popmaindiv1child2{
    width: 100%;
    height: auto;
    padding: 6% 5% 5% 5%;
    overflow: hidden;
}
.popmaindiv1child2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 30px 0;
    font-size: 16px;
    color: #919191; 
    border-bottom: 1px solid gray;
}
.popmaindiv1child2 ul li:hover{
    border-bottom: 3px solid var(--hoverbtmcolor);
}
.popmaindiv1child2 ul li.active {
    border-bottom: 3px solid var(--hoverbtmcolor);
}
.popmaindiv1child3{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding:5% 6% 0% 6%;
}
.popmaindiv1child3c1{
    width: 30%;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 4px #88888847;
}
.popmaindiv1child3c1g1{
    width: 100%;
    height: auto;  
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.popmaindiv1child3c1g1 img:hover{
    transform: scale(1.25);
    transition: all 0.5s;
}
.popmaindiv1child3c1g2{
    width: 100%;
    height: auto;
    padding: 30px 30px 15px 30px;
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
.popmaindiv1child3c1g2 a:hover{
    color: orange;
    transition: all 0.25s;
}
.popmaindiv1child3c1g2 a{    
    text-decoration: none;
    outline: medium none;
    color: var(--txtcolor);
}
.popmaindiv1child3c1g2b1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.star{
    width: auto;
    height: auto;
}
.star i{
    color: var(--starcolor);
}
.price{
    width: auto;
    height: auto;
}
.offer{
    color: #C7C7C7;
    text-decoration: line-through;
    margin-right: 14px;
}
.active_price{
    color: #1F1F1F;
    font-size: 16px;
}
.popmaindiv1child5{
    margin-top: 10%;
}

@media screen and (max-width:980px) {
    .popmaindiv1child2 ul{
        font-size: 12px
    }
}
@media screen and (max-width:805px) {
    .popmaindiv1child2 ul{
        display: none;
    }
}
@media screen and (max-width:800px){
.popmaindiv1child3{
    display: flex;
    flex-wrap: wrap;
}
.popmaindiv1child3c1{
    width: 41%;
    margin-top: 5%;
}
}
@media screen and (max-width:594px){
    .popmaindiv1child3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .popmaindiv1child3c1{
        width: auto;
        margin-top: 5%;
    }
}
@media screen and (max-width:405px){
    .popmaindiv1child3{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 5%;
        margin-left: 1%;

    }
    .popmaindiv1child3c1{
        width: auto;
        margin-top: 5%;
    }
}

/* below the nav bar popular course section end  */
/* ======================================================================================================== */
/* BELOW Popular Courses quote section start */

.qmaindiv1{
    width: 100%;
    height: auto;
    margin-top: 15%;
    background-image: url(../project1-pictures/q1.png);
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 160px 0;
}
.qmaindiv1c1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}
.qmaindiv1c1g1{
    width: 30%;
    padding-top: 10%;

}
.qmaindiv1c1g1 button{
    margin-right: 100%;
    height: 10vh;
    width: 10%;
    background-color: var(--btncolor);
    border:0.5px solid var(--btncolor);
}
.qmaindiv1c1g1 button:hover{
    border:1px solid var(--btncolor);
    background-color: transparent;
    color: var(--btncolor);
    display: inline-block;
    transition: 0.2s;
}
.qmaindiv1c1g2{
    width: 30%;
}
.qmaindiv1c1g3{
    width: 30%;
    padding-top: 10%;
}
.qmaindiv1c1g3 button{
    margin-left: 100%;
    height: 10vh;
    width: 10%;
    border:0.5px solid var(--btncolor);
    background-color: var(--btncolor);    
}
.qmaindiv1c1g3 button:hover{
    border:1px solid var(--btncolor);
    background-color: transparent;
    color: var(--btncolor);
    display: inline-block;
    transition: 0.2s;
}
.qmaindiv1c1 img{
    height: max-content;
    width: max-content;
}
.qmaindiv1c2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 34px;
    margin-top: 26px;
    margin-bottom: 22px;
    text-align: center!important;
}


/* BELOW Popular Courses quote section end */
/* ======================================================================================================== */
/* BELOW quote section course speciality section start */
.csmaindiv1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.csmaindiv1child1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15%;
}
.csmaindiv1child1 h3{
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 23px;
    color: #1F1F1F;
}
.csmaindiv1child1 p{
    font-size: 17px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    line-height: 28px;
    color: #727272;
    margin-bottom: 0;
}
.csmaindiv1child2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    padding: 6% 5% 10% 5%;
}

.csmaindiv1child2g1{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2.5;
    border: 2px solid #E8E8E8;
    margin-top:5% ;
    font: 18px;
    font-family: var(--font-family2);   
}
.csmaindiv1child2g1:hover{
    background-color: #FD8E5E;
    transition: all 0.3s;
    color: var(--white);
}
.csmaindiv1child2g1 img{
    height: 30%;
    width: 30%;
}
@media screen and (max-width:800px) {
    .csmaindiv1child2g1{
        width: 40%;
    }
}
@media screen and (max-width:465px) {
    .csmaindiv1child2{
        flex-direction: column;
        padding-left: 15%;

    }
    .csmaindiv1child2g1{
        width: 90%;
    }
}

/* BELOW quote section course speciality section end */
/* ======================================================================================================== */
/* BELOw speciality section newsletter section start */

.nlmaindiv1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5% 5% 5% 5%;
    background: #04D2C8;
}
.nlmaindiv1c1{
    width: 60%;
    line-height: 38px;
    color: var(--white);
    margin-bottom: 13px;
    font-family: var(--font-family2);

}
.nlmaindiv1c1 h3{
    font-size: 36px;
    font-weight: 300;
}
.nlmaindiv1c2{
    width: 40%;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 400;
}
.nlform{
    width: auto;
    height: auto;
    display:flex;
    padding-top: 5%

}
.nlmaindiv1c2 input{
    height: 60px;
    width: 70%;
    background: #fff;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    float: left;
    padding: 30px;
}
.nlmaindiv1c2 button{
    background: #FD8E5E;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 30%;
    height: 60px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
@media screen and (max-width:700px) {
    .nlmaindiv1{
        display: flex;
        flex-direction: column;
    }
    .nlmaindiv1c1{
        width: 100%;
    }
    .nlmaindiv1c2{
        width: 100%;
    }
}

/* BELOw speciality section newsletter section start */
/* ======================================================================================================== */
/* BELOw newsletter section latest blog section start */
.lbmadiv1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lbmadiv1child1{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15%;
}
.lbmadiv1child1 h3{
    font-size: 46px;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 23px;
    color: #1F1F1F;
}
.lbmadiv1child1 p{
    font-size: 17px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    line-height: 28px;
    color: #727272;
    margin-bottom: 0;
}

.lbmaindiv1child3{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding:5% 6% 0% 6%;
    margin-bottom: 20%;
}
.lbmaindiv1child3c1{
    width: 30%;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 4px #88888847;
}
.lbmaindiv1child3c1g1{
    width: 100%;
    height: auto;  
    display: flex;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.lbmaindiv1child3c1g1 img:hover{
    transform: scale(1.25);
    transition: all 0.5s;
}
.lbmaindiv1child3c1g2{
    width: 100%;
    height: auto;
    padding: 30px 30px 15px 30px;
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
#dtcolor{
    color: var(--btncolor);
}
.lbmaindiv1child3c1g2 a:hover{
    color: orange;
    transition: all 0.25s;
}
.lbmaindiv1child3c1g2 a{    
    text-decoration: none;
    outline: medium none;
    color: var(--txtcolor);
}
@media screen and (max-width:750px) {
    .lbmaindiv1child3c1{
        width: 60%;
        margin: 5%;
    }  
}
@media screen and (max-width:400px) {
    .lbmaindiv1child3c1{
        width: 100%;
        margin: 5%;
    } 
}

/* BELOw newsletter section latest blog section end */
/* ======================================================================================================== */
/* BELOw latest blog section footer section start */


.fmaindiv1{
    width: 100%;
    height: auto;
    background-image: url(../project1-pictures/footer_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    padding: 8% 5% 10% 5%;
    /* margin-top: 20%; */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.fmaindiv1child1{
    width: 30%;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
}
.fmaindiv1child1 p{
    padding-top: 13%;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #C7C7C7;
    margin-bottom: 13px;
    font-family: "Crimson Text", serif;
}
.fmaindiv1child1g1 ul{
    margin-top: 5%;
    display: flex;
    list-style: none;
}
.fmaindiv1child1g1 ul li{
    padding: 5%;
    margin: 1%;
    border-radius: 10%;
    background-color:#8565E2;
    color: var(--white) !important;

}
.fmaindiv1child1g1 ul li:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 1px 1px 20px 2px #010005;

}
.fmaindiv1child2{
    width: 20%;
    display:flex;
    flex-direction: column;
    color: var(--white);
    padding-left: 10%;
}
.fmaindiv1child2g1 ul{
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    list-style: none;
}
.fmaindiv1child2g1 ul li{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
    color: #C7C7C7;
}
.fmaindiv1child2g1 ul li a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 3;
    color: #C7C7C7;
}
@media screen and (max-width:1180px) {
    .fmaindiv1child2{
        width: 25%;
    }
}
@media screen and (max-width:616px) {
    .fmaindiv1{
        flex-direction: column;
    }
    .fmaindiv1child1{
        width: auto;
        margin-bottom: 25%;
    }
}








/* ========================================================================================== */
/* ========================================================================================== */
/* ========================================================================================== */
/* ========================================================================================== */
/* ========================================================================================== */
/* ========================================================================================== */
/* ========================================================================================== */


/* signup / log in page start */



.signup{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background-image: url(../project1-pictures/banner.png.webp);
    background-size: cover;
 }
 .signupmaindiv1{
	width: 450px;
	height: 600px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.signupmaindiv1 img{
    padding-top: 5%;
    padding-left: 35%;
}

.signupmaindiv1child1{
	position: relative;
	width:100%;
	height: 100%;
}

.signupmaindiv1child1 form label{
	color: #fff; 
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.signupmaindiv1child1 form input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}
 .signupmaindiv1child1 form button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color:var(--white);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;

    background-color: var(--btncolor);
    border:0.5px solid var(--btncolor);
}
.signupmaindiv1child1 form button:hover{
    background-color: transparent;
    color: var(--btncolor);
    border:0.5px solid var(--btncolor);  
}
.doen_have_acc {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 33px;
    font-weight: 400;
    padding-left: 20%;
}
.doen_have_acc a{
    color: var(--circlecolor1);
}

/* signup / log in page end */




/* Contact us page start */


.contact{
    background-image: url(../project1-pictures/banner.png.webp);
  background-size: cover;
  height: 100vh;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: #c5ecfd;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

.btn {

    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #04D2C8;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
}
.btn:hover{
    background-color: transparent;
    color: var(--btncolor);
    border:1px solid var(--btncolor);
}
@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}

/* Contact us page end */















.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card:hover{
      border: 2px solid red; 
    box-shadow: 0 8px 16px 0 rgb(17, 0, 255);

  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: url(../project1-pictures/banner.png.webp);
      background-size: cover;
      background-repeat: no-repeat;
    padding: 50px;
    height: 50vh;
    text-align: center;
    background-color: #474e5d;
    color: white;
    font-size: 30px;
  }
.title{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: black !important;
    align-items: center;
    padding: 3% 15% 10% 15%;
}
.title h1{
    border: 5px solid;
}
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 10%;
  }

  .title {
    color: grey;
  }
  
  .button {
      margin-top: 8%;
      margin-bottom: 8%;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #04D2C8;
    border-radius: 30px;
    border: 1px solid transparent;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
  }
  
  .button:hover {
    background-color: transparent;
    color: var(--navbtncolor);
    border:1px solid var(--navbtncolor);
  }
  .explain{
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10%;

  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }




















  /* CSS OF 404 PAGE START */

.fo4maindiv{
    width: auto;
    height: auto;
}
.fo4subdiv1{
    width: 100%;
    color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    font-size: 250px;
}
.fo4subdiv2{
    width: 100%;
    color: rgba(0, 0, 0, 0.76);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fo4subdiv2 a{
    border-radius:  10px;
    background-color:rgba(0, 153, 255, 0.849) ;
    text-decoration: none;
    color:var(--white);
    padding: 5px;
    border : 1px solid;

}
.fo4subdiv2 a:hover{
    background-color: transparent;
    color: var(--navbtncolor);
    border:1px solid var(--navbtncolor);
}
#fo4color{
    color: rgba(0, 153, 255, 0.849);
}

/* CSS OF 404 PAGE END */


/* CSS OF PAGES PAGE1 START */


.pagemaindiv1{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    background-image: url(../project1-pictures/banner.png.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.pagemaindiv1child1{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:15%;
    color: white;
    font-family: sans-serif;
}
.pagemaindiv2{
    width: 100%;
    height: auto;
    display: flex;
}
.pagemaindiv2child1{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagemaindiv2child1c1{
    width: 100%;
    height: auto;
    padding: 8% 8% 1% 8%;
}
.pagemaindiv2child1c2{
    width: 100%;
    height: auto;
    padding: 1% 8% 8% 8%;
    display: flex;
    flex-direction: column;
}
.pagemaindiv2child1c2g1{
    border: 2px solid #E8E8E8;
    padding: 8%;
    margin-top: 2%;
}
.pagemaindiv2child2{
    width: 40%;
    height:auto ;
    display: flex;
    flex-direction: column;
    padding: 4%;

}
.pagemaindiv2child2c1{
    margin-top: -85%;
    width: 100%;
    overflow: hidden;
}
.pagemaindiv2child2c2{
    width: 100%;
    height:auto ;
    display: flex;
    flex-direction: column;
    padding: 4%;
    margin-top: 15%;
    border: 2px solid #E8E8E8;
}
.pagemaindiv2child2c2g1{
    width: 100%;
    height: auto;
    display: flex;
    border: 2px solid #E8E8E8;
    padding: 2%;
}
.pagemaindiv2child2c2g1b1{
    width: 20%;
    height: auto;
    border: 2px solid #E8E8E8;
    overflow: hidden;
    border-radius: 50%;
}
.pagemaindiv2child2c2g1b1 img{
    vertical-align: middle;
    height: auto;
    width: 100%;
}
.pagemaindiv2child2c2g1b2{
    width: 40%;
    height: auto;
    padding: 2%;
    /* border: 2px solid #E8E8E8; */
    margin-left: 3%;
}
.pagemaindiv2child2c2g1b2 h3{
    font-size: 18px;
    color: #1F1F1F;
    font-weight: 400;
    margin-bottom: 4px;
}
.pagemaindiv2child2c2g1b2 p{
    font-size: 14px;
    color: #919191;
}
.pagemaindiv2child2c2g2{
    width: 100%;
    height: auto;
    padding: 2%;
    margin-top: 5%;
    border: 2px solid #E8E8E8;
}
.pagemaindiv2child2c2g2 p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #919191;
    margin-bottom: 13px;
    font-family: "Crimson Text",serif;
}
.pagemaindiv2child2c2g3{
    width: 100%;
    height: auto;
    padding: 2%;
    margin-top: 5%;
    border: 2px solid #E8E8E8;
}
.pagemaindiv2child2c2g3 ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    display: flex;
    list-style: none;            
}
.pagemaindiv2child2c2g3 ul li{
    padding-right: 8%;
}
.pagemaindiv2child2c3{
    width: 100%;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.pagemaindiv2child2c4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #E8E8E8;
    padding: 4%;
    margin-top: 15%;
}
.pagemaindiv2child2c4g1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.pagemaindiv2child2c4g1 h3{
    font-size: 18px;
    color: #1f1f1f;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    margin-bottom: 27px;
}
.pagemaindiv2child2c4g1 p{
    font-size: 14px;
    color: #1f1f1f;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
    margin-bottom: 0;
}
.pagemaindiv2child2c4g1 button{
    width: 60%;
}
@media screen and (max-width:1234px) {
    .pagemaindiv2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.pagemaindiv2child1{
    width: 100%;
}
.pagemaindiv2child2{
    width: 100%;

}
.pagemaindiv2child2c1{
    margin-top: 1%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.pagemaindiv2child2c2g1b2 h3{
    font-size: 28px;
}
.pagemaindiv2child2c2g1b2 p{
    font-size: 24px;
}

}
@media screen and (max-width:654px) {
    .pagemaindiv2child2c2g1b1{
        width: 15%;
    } 
}
@media screen and (max-width:630px){   
    .pagemaindiv2child2c2g1b1{
        width: 10%;
        height: 10vh;
    } 
    .pagemaindiv2child2c2g1b1 img{
        width:100%;
        /* height: auto; */
    }
}
@media screen and (max-width:598px){
    .pagemaindiv2child2c2g1b1{

        display: none;
    } 
}

/* CSS OF PAGES PAGE1 START */
